@{
    ViewBag.Title = "Admin";
}

<h2 style="text-align:center;">Панель администратора</h2>

<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>

<div class="col-md-3" style="max-width: 300px;">
        <br />
        <br />
        <br />
        
        <ul class="nav nav-pills nav-stacked">
            <li style="background-color: aliceblue">
                @Html.ActionLink("Управление пользователями", "Index", "AppUsers")
            </li>
            <li style="background-color:aliceblue">
                <a href="#" style="color: darkblue;">Управление кафедрами</a>
            </li>
            <li style="background-color:aliceblue">
                <a href="#" style="color: darkblue;">Управление институтами</a>
            </li>
            <li style="background-color:aliceblue">
                <a href="#" style="color: darkblue;">Управление факультетами</a>
            </li>
        </ul>
</div>
<div class="col-md-9" style="min-height: 300px;">

</div>